<!DOCTYPE html>
<html>
    <body>
        <div th:fragment="footer">
            <div class="container mb-3 mt-3">
                <!-- Footer -->
                <footer class="page-footer font-small special-color-dark pt-4">

                    <!-- Footer Elements -->
                    <!--                    <div class="container">
                    
                                             Social buttons 
                                            <ul class="social-network social-circle">
                                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                             Social buttons 
                    
                                        </div>-->
                    <!-- Footer Elements -->

                    <div class="footer-copyright text-center py-3">
                        <a href="/covid-watch/global">www.covid-watch.com</a>
                    </div>

                </footer>
                <!-- Footer -->
            </div>
        </div>
    </body>
</html>
