<!DOCTYPE html>
<html>

    <head>
        <title>About | Covid Watch</title>
        <link rel="icon" type="image/png" href="assets/icons8-virus-48.png">
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<th:block th:replace="fragments/navigation :: navigation"></th:block>

<section id="main">
    <div class="container mb-3 mt-3">
        <div class="jumbotron bg-light border">
            <div class="d-flex flex-row">
                <div class="p-2"><img src="assets/icons8-virus-48.png" width="80px"/></div>
                <div class="p-2"><h1 class="display-4">Covid Watch <small class="text-muted">v0.0.1</small></h1></div>
            </div>
            <p class="lead">A Java web application for getting the users updated on the current rate of COVID-19 cases and the number of active cases reported worldwide.</p>
            <hr class="my-4">
            <p>The Covid Watch application uses data from a Third Party API (Open Disease Data API) for reliable global disease information.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/covid-watch/global" role="button">Home</a>
            </p>
        </div>
    </div>
</section>
<br>
<hr>
<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>