<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Continents | The Covid-19 App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/000000/virus.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Covid-19 Watch</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/covid-19">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Continents
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a href="/covid-19/continents/Africa/countries">Africa</a></li>
                                    <li><a href="/covid-19/continents/Asia/countries">Asia</a></li>
                                    <li><a href="/covid-19/continents/Australia-Oceania/countries">Australia-Oceania</a></li>
                                    <li><a href="/covid-19/continents/Europe/countries">Europe</a></li>
                                    <li><a href="/covid-19/continents/North America/countries">North America</a></li>
                                    <li><a href="/covid-19/continents/South America/countries">South America</a></li>
                                </ul>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="/covid-19">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/covid-19">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <div>
            <h1 th:text="${continent}"></h1>
            <table>
                <tr>
                    <th></th>
                    <th>Country</th>
                    <th>Total Cases</th>
                    <th>New Cases</th>
                    <th>Total Deaths</th>
                </tr>
                <tr th:each="countryTotal : ${countryTotals}">
                    <td><img th:src="${countryTotal.countryInfo.flag}" width="32px"/></td>
                    <td>
                        <a th:href="@{/countries/{country}(country=${countryTotal.country})}">
                            <span th:text="${countryTotal.country}"/>
                        </a>
                    </td>
                    <td th:text="${countryTotal.cases}"></td>
                    <td th:text="${countryTotal.todayCases}">0</td>
                    <td th:text="${countryTotal.deaths}">0</td>
                </tr>
            </table>

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
