<!DOCTYPE html>
<html>

    <head>
        <title>Contact | Covid Watch</title>
        <link rel="icon" type="image/png" href="assets/icons8-virus-48.png">
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<th:block th:replace="fragments/navigation :: navigation"></th:block>
<div class="container mb-3 mt-3 h-100">
    <div class="row h-100">
        <div class="col">
            <div class="media py-5">
                <img class="mr-3 avatar" src="assets/avatar-mhel.png" alt="Rommel Medina Avatar">
                <div class="media-body">
                    <h4 class="mt-0">Rommel Medina</h4>
                    <p class="text-muted">An avid coffee drinker and a software developer who's been working in the field for over 10 years.<br> 
                        I’m passionate about creating quality products that meet all of the customer’s needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="info-wrap w-100 py-5">
                    <h3 class="mb-4">Let's Talk</h3>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="text pl-4">
                            <p><span>Address:</span> Abbotsford BC Canada
                            </p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="text pl-4">
                            <p><span>Phone:</span> <a href="tel://1234567920">+1 778 *** ****</a></p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text pl-4">
                            <p><span>Email:</span> <a
                                    href="mailto:info@yoursite.com">rommel.d.medina@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="text pl-4">
                            <p><span>Website</span> <a href="#">medinarzone.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>