<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Countries | Covid Watch</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../assets/icons8-virus-48.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">    
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
                <div class="d-flex flex-grow-1">
                    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                    <a class="navbar-brand d-none d-lg-inline-block" href="/covid-watch/global">
                        <img src="../assets/icons8-virus-48.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        Covid Watch
                    </a>
                    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                        <img src="../assets/icons8-virus-48.png" alt="logo">
                    </a>
                    <div class="w-100 text-right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-link m-2 menu-item" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="/covid-watch/continental/Africa" class="nav-link m-2 menu-item">Africa</a></li>
                                <li><a href="/covid-watch/continental/Asia" class="nav-link m-2 menu-item">Asia</a></li>
                                <li><a href="/covid-watch/continental/Australia-Oceania" class="nav-link m-2 menu-item">Australia-Oceania</a></li>
                                <li><a href="/covid-watch/continental/Europe" class="nav-link m-2 menu-item">Europe</a></li>
                                <li><a href="/covid-watch/continental/North America" class="nav-link m-2 menu-item">North America</a></li>
                                <li><a href="/covid-watch/continental/South America" class="nav-link m-2 menu-item">South America</a></li>
                            </ul>
                        </li>                        
                        <li class="nav-item">
                            <a href="#" class="nav-link m-2 menu-item">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link m-2 menu-item">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <section id="main">
            <h2>Cases Overview</h2>
            <p><img th:src="${flag}" width="60px"/><span th:text="${country}"></span></p>

            <br>


            <h3>Coronavirus Cases:</h3>
            <h4 th:text="${cases}"></h4>

            <h3>Deaths:</h3>
            <h4 th:text="${deaths}"></h4>

            <h3>Recovered:</h3>
            <h4 th:text="${recovered}"></h4>

        </section>
        <hr>
        <section>
            <div>
                <h6>Active Cases %</h6>
                <h1 th:text="${activePercentage}"></h1>
                <br>
                <h6>Total Active Cases</h6>
                <h1 th:text="${active}"></h1>
                <br>
                <h6>Recoveries %</h6>
                <h1 th:text="${recoveredPercentage}"></h1>
                <br>
                <h6>Total Recoveries</h6>
                <h1 th:text="${recovered}"></h1>
                <br>
                <h6>Deaths %</h6>
                <h1 th:text="${deathPercentage}"></h1>
                <br>
                <h6>Total Deaths</h6>
                <h1 th:text="${deaths}"></h1>

                <br>
                <h6>New Cases</h6>
                <h1 th:text="${todayCases}"></h1>
                <br>
                <h6>New Recoveries</h6>
                <h1 th:text="${todayRecovered}"></h1>
                <br>
                <h6>New Deaths</h6>
                <h1 th:text="${todayDeaths}"></h1>
            </div>
        </section>

        <hr>
        <section>

            <h3>Closed Cases:</h3>
            <h4 th:text="${closed}"></h4>
        </section>

        <button onclick="goBack()">Back</button>

    </body>


    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>
