<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section id="main">
            <h1>Coronavirus Cases:</h1>
            <h3 th:text="${cases}"></h3>
            
            <h1>Deaths:</h1>
            <h3 th:text="${deaths}"></h3>
            
            <h1>Recovered:</h1>
            <h3 th:text="${recovered}"></h3>
            
        </section>
        <hr>
        <section>
            <h1>Active Cases:</h1>
            <h3 th:text="${active}"></h3>

            <h1>Closed Cases:</h1>
            <h3 th:text="${closed}"></h3>
        </section>
        
        <hr>
        <section>
            <h1>Total Reported Cases in each Continent</h1>
            <table class="table">
                <tr>
                    <th>Continent</th>
                    <th>Total Cases</th>
                    <th>New Cases</th>
                    <th>Total Deaths</th>
                </tr>
                <tr th:each="continentalTotal : ${continentalTotals}">
                    <td>
                        <a th:href="@{/continents/{continent}/countries(continent=${continentalTotal.continent})}">
                            <span th:text="${continentalTotal.continent}"/>
                        </a>
                    </td>
                    <td th:text="${continentalTotal.cases}"></td>
                    <td th:text="${continentalTotal.todayCases}">0</td>
                    <td th:text="${continentalTotal.deaths}">0</td>
                </tr>
            </table>
        </section>
    </body>
</html>
