<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Global | Covid Watch</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="assets/icons8-virus-48.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    </head>

    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
                <div class="d-flex flex-grow-1">
                    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                    <a class="navbar-brand d-none d-lg-inline-block" href="/covid-watch/global">
                        <img src="assets/icons8-virus-48.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        Covid Watch
                    </a>
                    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                        <img src="assets/icons8-virus-48.png" alt="logo">
                    </a>
                    <div class="w-100 text-right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-link m-2 menu-item" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="/covid-watch/continental/Antarctica?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">Antarctica</a></li>
                                <li><a href="/covid-watch/continental/Africa?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">Africa</a></li>
                                <li><a href="/covid-watch/continental/Asia?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">Asia</a></li>
                                <li><a href="/covid-watch/continental/Australia-Oceania?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">Australia-Oceania</a></li>
                                <li><a href="/covid-watch/continental/Europe?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">Europe</a></li>
                                <li><a href="/covid-watch/continental/North America?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">North America</a></li>
                                <li><a href="/covid-watch/continental/South America?strict=true&sortBy=todayCases" class="nav-link m-2 menu-item">South America</a></li>
                            </ul>
                        </li>                        
                        <li class="nav-item">
                            <a href="#" class="nav-link m-2 menu-item">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link m-2 menu-item">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <br><br><br>

        <section>
            <div class="container mb-3 mt-3">
                <div class="row">
                    <div class="mx-auto">
                        <h3>
                            <span th:text="${cases}" class="digits"></span>
                            <small class="text-muted"> Worldwide COVID-19 cases  </small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <img src="assets/365-3656845_world-map-silhouette-simple-hd.png" alt="" />
                    </div>
                </div>
                <br><br><br><br><br>
                <div class="row">
                    <div class="mx-auto">
                        <h3>
                            <span th:text="${deaths}" class="digits"></span> 
                            <small class="text-muted"> Deaths from COVID-19</small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <img src="assets/image-20210823224814744.png" alt="" width="680px" height="320px" />
                    </div>
                </div>
                <br><br><br><br><br>
                <div class="row">
                    <div class="mx-auto">
                        <h3>
                            <span th:text="${recovered}" class="digits"></span> 
                            <small class="text-muted"> Recoveries from COVID-19</small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <img src="assets/recovery.jpg" alt="" width="680px" height="320px" />
                    </div>
                </div>

                <br><br><br><br><br>

                <div class="row">
                    <div class="mx-auto">
                        <h3>
                            <span th:text="${active}" class="digits"></span> 
                            <small class="text-muted"> Active Cases</small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <img src="assets/image-20210823224542889.png" alt="" width="680px" height="320px" />
                    </div>
                </div>

                <br><br><br><br><br>

                <div class="row">
                    <div class="mx-auto">
                        <h3>
                            <span th:text="${closed}" class="digits"></span> 
                            <small class="text-muted"> Closed Cases</small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <img src="assets/shutterstock_1703999134_h1.jpg" alt="" width="680px" height="320px" />
                    </div>
                </div>
        </section>

        <br><br><br><br><br>
        <hr>
        <section id="footer">
            <div class="container mb-3 mt-3">
                <!-- Footer -->
                <footer class="page-footer font-small special-color-dark pt-4">

                    <!-- Footer Elements -->
                    <!--                    <div class="container">
                    
                                             Social buttons 
                                            <ul class="social-network social-circle">
                                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                             Social buttons 
                    
                                        </div>-->
                    <!-- Footer Elements -->

                    <div class="footer-copyright text-center py-3">
                        <a href="/covid-watch/global">www.covid-watch.com</a>
                    </div>

                </footer>
                <!-- Footer -->
            </div>
        </section>        

    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
        $.fn.digitss = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $(".digits").digitss();
    </script>
</html>
