<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Global | Covid Watch</title>
        <link rel="icon" type="image/png" href="assets/icons8-virus-48.png">
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<th:block th:replace="fragments/navigation :: navigation"></th:block>

<br><br><br>

<section>
    <div class="container mb-3 mt-3">
        <div class="row">
            <div class="mx-auto">
                <h3>
                    <span th:text="${cases}" class="digits"></span>
                    <small class="text-muted"> Worldwide COVID-19 cases  </small>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="mx-auto">
                <img src="assets/365-3656845_world-map-silhouette-simple-hd.png" alt="" />
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row">
            <div class="mx-auto">
                <h3>
                    <span th:text="${deaths}" class="digits"></span> 
                    <small class="text-muted"> Deaths from COVID-19</small>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="mx-auto">
                <img src="assets/image-20210823224814744.png" alt="" width="680px" height="320px" />
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row">
            <div class="mx-auto">
                <h3>
                    <span th:text="${recovered}" class="digits"></span> 
                    <small class="text-muted"> Recoveries from COVID-19</small>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="mx-auto">
                <img src="assets/recovery.jpg" alt="" width="680px" height="320px" />
            </div>
        </div>

        <br><br><br><br><br>

        <div class="row">
            <div class="mx-auto">
                <h3>
                    <span th:text="${active}" class="digits"></span> 
                    <small class="text-muted"> Active Cases</small>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="mx-auto">
                <img src="assets/image-20210823224542889.png" alt="" width="680px" height="320px" />
            </div>
        </div>

        <br><br><br><br><br>

        <div class="row">
            <div class="mx-auto">
                <h3>
                    <span th:text="${closed}" class="digits"></span> 
                    <small class="text-muted"> Closed Cases</small>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="mx-auto">
                <img src="assets/shutterstock_1703999134_h1.jpg" alt="" width="680px" height="320px" />
            </div>
        </div>
</section>

<br><br><br><br><br>
<hr>
<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>
